table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.search-input{
    padding: 8px;
    width:500px;
    margin:20px 0px;
}
