.form-container {
    width:100% ;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px auto;
}
.form{
    width: 500px;
    padding: 20px;
    border:1px solid black;
   
}
input{
    padding:10px 12px;
    width: 400px;
    margin: 10px;
}
button{
    padding:10px 12px;
    width: 425px;
    margin: 10px;
    text-align: center;
    background-color: brown;
    color: bisque;
    border: none;
    outline: none;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.card{
    width:300px;
    color: black;
    border: 1px solid black;
    margin:20px;
    padding: 20px;
}