
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: black;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  font-weight: 600;
}
